.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 100;
  width: 100%;
  top: 0;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 80px;
}

.header__center {
  flex: 2;
  display: flex;
  max-width: 200px;
  align-items: center;
  padding: 10px;
  height: 30px;
}

.header__center>input {
  border: none;
  width: 340px;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 999px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin-right: 80px;
}

.header__center>input {
  padding: 10px;
  outline-width: 0;
}

@media (max-width : 800px) {
  .header {
    display: block;
  }

  .header__icon {
    display: none;
  }

  .header__center>input {
    height: 40px;
    border: 2px solid lightgray;
    border-radius: 999px;
  }

  .header__center {
    display: block;
    max-width: 80%;
    margin: auto;
    /* align-items: end; */
    /* padding: 7px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 999px;
    margin: auto; */
    /* margin-top: 15px;
    margin-bottom: 10px; */

  }

  i {
    display: flex;
    float: right;
    margin: auto;
    margin-top: 10px;
    margin-left: 0;
  }

  .header__right {
    display: none;
  }
}