.rowcont {
  position: relative;
}

.imgLike {
  width: 95%;
  margin: auto;
}

.imgLike img {
  width: 93%;
  height: 90%;
  border-radius: 10px;
}
.searchResult:hover {
  opacity: 0.8;
}



.lbtn {
  position: absolute;
  top: 42px;
  right: -2px;
  color: red;
  font-size: 30px;
  z-index: 1;
}

